* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.body1 {
   width: 100%;
   background-color: rgb(77, 86, 85);
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.container {
   background-color: white;
   border-radius: 6px;
   width: 450px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px;
}

.authorization_h1 {
   margin-bottom: 20px;
   font-size: 25px;
}

.authorization_numerTel {
   width: 100%;
   padding: 15px;
}

.authorization_numerTel input {
   width: 100%;
   height: 40px;
   border: 2px solid black;
   border-radius: 5px;
   font-size: 17px;
   margin: 4px 0 25px;
   padding-left: 15px;
   background: transparent;
}

button {
   width: 300px;
   height: 38px;
   background-color: #232529;
   border: 0;
   border-radius: 4px;
   color: white;
   cursor: pointer;
   margin: 0 auto;
   margin-top: 20px;
}

/* password */
.password_input {
   margin: 25px;
}

.password_input input {
   width: 40px;
   height: 40px;
   border-radius: 6px;
   border: 2px solid #DADADA;
   outline: none;
   font-size: 30px;
   text-align: center;
   background: transparent;
}

.password {
   text-align: center;
}

.password h2 {
   font-size: 20px;
}

.password p {
   width: 250px;
   margin: 0 auto;
   padding: 6px;
   color: #A9A9A9;
}

/* questionnaire */
.questionnaire {
   background-color: white;
   border-radius: 6px;
   width: 550px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 20px;
}

.questionnaire h2 {
   font-size: 20px;
}

.questionnaire p {
   margin: 6px 0;
}

.questionnaire input,select{
   border-radius: 6px;
   border: 2px solid #DADADA;
   outline: none;
   font-size: 14px;
   padding-left: 6px;
   background: transparent;
   margin: 3px 0;
   height: 35px;
   color:rgb(135 130 123);
}

.full_name input {
   width: 167px;
}

.pasport .date {
   width: 167px;
}

.pasport .place {
   width: 339px;
}

.questionnaire_btn {
   margin: 15px auto;
}
.pasport1 input {
   width: 167px;
}
select{
   width: 167px;
}
.place1{
   width: 339px;
}
/* income data */
.organization{
   width: 339px;
}
.job_title{
   width: 167px;
}
.wage{
   width: 253px;
}
.credit input, select{
   width: 167px;
}
.receiving_point{
   width: 100%;
}
/* request */
.request{
   text-align: center;
}
.request h2{
   font-size: 20px;
}
.request1 img{
   margin: 15px 0;
}
.error{
   border: 2px solid rgb(255, 5, 38) !important;
}
