* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.body1{
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   background-color: #F5F5F5;
}
.container{
   margin: 15px;
   width: 100%;
}
.authorization_h1{
   font-size: 25px;
   margin-bottom: 13px;
}
.authorization_numerTel input{
   height: 35px;
   width: 100%;
   outline: none;
   border-radius: 3px;
   border: 1px solid black;
   padding: 9px;
   margin: 7px 0 16px 0;
   background: transparent;
}
button{
   height: 35px;
   width: 100%;
   background-color:#232529;
   border: 0;
   border-radius: 3px;
   color: #F5F5F5;
   font-size: 16px;
   cursor: pointer;
   margin-bottom: 7px;
}
/* password */
.password{
   text-align: center;
   
}
.password p{
   width: 300px;
   margin: 0 auto;
   color: #A9A9A9;
}
.password h2{
   font-size: 19px;
   margin-bottom: 5px;
}
.password_input{
   text-align: center;
   margin: 15px 0 25px;
}
.password_input input{
   width: 40px;
   height: 40px;
   background: transparent;
   border-radius: 5px;
   border: 1px solid black;
   text-align: center;
   font-size: 30px;
}
/* questionnaire */
.questionnaire {
  margin: 15px;
}
.questionnaire h2{
   font-size: 21.5px;
   margin-bottom: 10px;
}
.paragraf{
   margin: 5px 0 10px;
}
.questionnaire input , select{
   width: 100%;
   height: 35px;
   margin: 11px 0 ;
   padding:0 10px;
   background: transparent;
   border-radius: 5px;
   border: 1px solid black;
   outline: none;
}
/* request */
.request{
   text-align: center;
}
.request img{
   margin: 15px 0;
}